
  .user-address{
    display: flex;
    gap: 2rem;
    margin-left: 10rem;
    flex-direction: column;
  }


.adminn-subscription{
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;       
}

.list-orders{
  background-color: rgb(219, 226, 226);
  padding-top: 1rem;
  margin-left: 9rem;
  margin-right: 9rem;
  border-radius: 5px;
  background-color: #4CAF50;
}

.order-listt{
  display: flex;
  justify-content: space-around;
}

.date-box{
  margin-left: 8rem;
}


.order-listt{
  display: flex;
  justify-content: space-around;

}

.date-header {
  margin-left: 10rem;
  border: solid rgb(86, 85, 85);
  width: fit-content;
  border-radius: 5px;
  padding: 4px;
}



.styled-table {
  width: 80%; 
  border-collapse: collapse; 
  margin: 20px auto; 
 
}


.styled-table th {
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border: 1px solid #ddd;
}


.styled-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}


.styled-table tr:hover {
  background-color: #f5f5f5;
}


.styled-table button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.styled-table button:hover {
  background-color: #45a049;
}



/* Style for modal */
.modall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contentt {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.closee {
  background: rgb(17, 16, 16);
  color: rgb(255, 255, 255);
  padding: 2px 6px;
  border: none;
  cursor: pointer;
  position: relative;
  left: 45rem;
  font-weight: bold;
  
}

.user-details{
  background-color: #eaeee9;
  border-radius: 8px;
  padding: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  
}

.submit-share button{
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 22rem;
  margin-top: 1rem;
  
}
