
.landing-header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(135deg,  #a8c6ec, #e38511); */
  background-image: url(../../../assets/foodimage.png);
}

.header-img {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 2rem;
  margin-top: 1rem;
}

.signing-in {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-right: 2rem;
  gap: 1rem;
}

.home-header {
  margin-top: 4rem;
  font-size: 2.1rem;
  text-align: left;
}

.food-delivery {
  margin-left: 7rem;
}


.register {
  margin-top: 6rem;
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.register div {
  background-color: rgb(113, 69, 69);
  background-color: darkslategrey; 
  padding: 1rem;
  color: white;
  border-radius: 8px;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.regi {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 2.2rem;
  margin-top: 2.5rem;
}

.regi div {
  padding: 1.3rem;
  color: white;
  background-color: rgb(22, 72, 122);
  border-radius: 8px;
}


@media (max-width: 768px) {

  .landing-header {
    height: auto;
    background-position: center;
  }


  .signing-in {
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
    margin: 1rem 0;
    margin-top: 7rem;
  }

  .signing-in button {
    width: 80%;
    font-size: 1rem;
    
  }


  .home-header {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem auto;
  }


  .food-delivery {
    margin-left: 0;
  }


  .register,
  .regi {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    padding: 1rem;
    margin: 0 auto;
  }

  .register div,
  .regi div {
    width: 80%;
    text-align: center;
    padding: 1rem;
  }


  .header-img {
    margin: 1rem auto;
    display: block;
    max-width: 6rem;
    padding-left: 0;
  }
}


@media (max-width: 576px) {

  .navbarrr .navbar-collapse {
    text-align: center;
  }


  .home-header {
    font-size: 1.3rem;
    padding: 0 1rem;
  }


  .signing-in button {
    width: 100%;
    font-size: 0.7rem;
    
  }



  .register div,
  .regi div {
    width: 90%;
  }

  .register,
  .regi {
    font-size: 0.95rem;
  }
}
