 
html {
    scroll-behavior: smooth;
  }

.background-imageee{
  background-image: url('../../../assets/foodcolor.png');
  background-size: cover;
  
}

.register{
    width: fit-content;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    gap: 2rem;
    margin-left: 1.3rem;
}

.register div{
    background-color: rgb(113, 69, 69);
    padding: 1.4rem;
    color: white;
    border-radius: 8px;  
}

.regi{

    width: fit-content;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    gap: 2rem;
    margin-left: 1.3rem;
    
}

.regi div{

    padding: 1.3rem;
    color: white;
    background-color: darkslategrey;
    border-radius: 8px;
}

.vision-head{
    font-size: 1.5rem;
   
}

.vision-back{
    background-color: aliceblue;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
   

} 
  
  
.logo-pic{
   
    position: absolute;
    top: 2rem;
    left: 4rem;  
}

.home-head{
    display: flex;
    gap: 5.3rem;
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 2rem;
    margin-left: 18rem;
}

.home-header{
    margin-left: 6rem;
    margin-top: 6rem;
    font-size: 2.1rem;   
}

.food{
   background-image: url('../../../assets/foodcolor.png');
   background-size: cover;
   min-height: 100vh;
   width: 100%;   
}

.individual-plan{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(198, 187, 190);
    margin-left: 38rem;
    margin-right: 38rem;
}


.backwhite{
    background-color: rgb(254, 189, 103);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.backwhite .heading {
    font-size: 2.5rem;
    font-family: cursive;
    color: rgb(56, 38, 199);
  }

  .home-heading{
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: orangered;
    font-size: 2.4rem;
    font-weight: bold;
    
  }

 .navbar{
  padding-top: 1.5rem;
  
 }
  .com{
   
    background-color:rgb(223, 186, 74);
    height: 10rem;
    width: 20rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    border-radius: 8px;
    background-color: rgb(229, 237, 237);  
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

.chooseplan{
    display: flex;
    gap: 10rem;
    flex-wrap: wrap;
    margin-left: 2rem; 
}

.plans-head{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

 .comm{

    height: fit-content;
    width: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(77, 41, 28);  
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
    color: white;
}

.comm button{
    margin-top: 0.9rem;
    height: 2rem;
    width: 4rem;
    font-size: 1rem;
    font-weight: bold;
}

.comm button :hover{
    background-color: rgb(240, 119, 33);
    cursor: pointer;
}

.contact-details{
    display: flex;
    justify-content: center;
    color: orangered;   
    font-family: cursive;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.foot{ 
    display: flex;
    justify-content: center;
    height: 6rem;
    width: 7rem;
    border-radius: 5px;
}

.foot-details{
    display: flex;
}

.footer-down{
    display: flex;
    justify-content: space-around;
}

.name-foot{
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 237, 237);
    background-color: rgb(251, 253, 255);
    padding: 2rem;
    flex-shrink: 3rem;  
}

.bold-word{
    font-weight: bold;
    justify-content: center;
    font-size: 1.3rem;
    text-decoration: underline;
}

.feedback-head{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin-left: 30rem;
    margin-right: 30rem;
    padding: 2rem;
    justify-content: center;
    border-radius: 8px;
}

.feedback-submit{
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    color: rgb(254, 254, 255);
    background-color: rgb(90, 111, 226);
    border: none;
    margin-left: 13rem;
    margin-right: 13rem;
}



 .mmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  
  .cclose-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    font-size: 0.8rem;
    margin-left: 62.3rem;
    top: 2.2rem;
    padding-left: 6px;
    padding-right: 6px;
   
  } 

  a{
    text-decoration: none;
    color: black;
    
  }

  a:hover{
    text-decoration: underline;
    color: blue;
  }

  .ideas{
    cursor: pointer;
  }

  .ideas:hover{
    text-decoration:underline;
    color: blue;  
  }

  .nav-link{
    font-weight: bold;
    font-size: 1.2rem;
  }


.header-img {
  width: 100%;
  max-width: 6rem;
  height: auto;
  border-radius: 5px;
}


.food {
  background-image: url('../../../assets/foodcolor.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

.foot {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 4rem;
  border-radius: 5px;
}

.nav-link{
  font-size: 1.38rem;
}

@media (max-width: 768px) {

.home-head{
        display: flex;
        gap: 1rem;
        font-weight: bold;
        font-size: 1rem;
        padding-top: 2rem;    
    }
    
.home-header{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        font-size: 1.2rem;  
    }

  .regi{
    flex-direction: column;
    margin-left: 0;
    padding: 1rem;

  }

  .register {
    flex-direction: column;
    margin-left: 0;
    padding: 1rem;
  }

  .vision-back {
    margin-left: 0;
    margin-right: 0;
    padding: 1rem; 
  }

  .vision-head {
    font-size: 1.2rem;
  }

  .com {
    width: 100%;
    margin-bottom: 1rem;
    padding: 2rem;
  }

  .chooseplan {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .plans-head {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    
  }

  .comm {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .footer-down {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name-foot {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .feedback-head {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .mmodal-content {
    width: 90%;
  }

  .feedback-submit {
    margin-left: 0;
    margin-right: 0;
  }

  .cclose-btn {
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
  }
.home-heading{

    margin-left: 1rem;
    margin-top: 6rem;
    font-size: 2.1rem;
}

.foot{ 
  display: flex;
  height: 6rem;
  width: 7rem;
  border-radius: 5px;
  margin-left: 7rem;
}



.navbar-toggler{
  margin-top: 1.5rem;
 
}

.register{
  margin-top: 2rem;
}


.logo-pic {
  max-width: 150px;  
  padding: 0.5rem; 
  margin-left: 15rem; 

}


.header-img {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.logo-pic {
  max-width: 150px;
  padding: 0.5rem;
}

.food {
  min-height: 80vh;
}

.foot {
  width: 4rem;
  height: 4rem;
}

.home-header {
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 1.4rem;
}

.header-img {
  /* width: 100%; */
  max-width: 6rem;
  height: auto;
  border-radius: 5px;
}


} 


