


.sign-in-content {
  display: flex;
  align-items: center; 
  padding: 1rem;
  flex-direction: row; 
}

.image-container {
  margin-right: 0rem; 
  display: flex;
  align-items: center; 
}

.sign-in-image {
  width: 70px; 
  height: auto;
  height: 70px;
}

.text-content {
  flex: 1; 
}

.MuiDialogTitle-root {
  text-align: center;
}

.MuiTypography-body2 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}

.MuiButton-root svg {
  margin-right: 8px;
}

.MuiButton-root {
  font-size: 16px;
  padding: 12px 20px;
  text-transform: none;
}

.Typography {
  font-weight: bold;
}


.MuiTypography-h5 {
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis;
  font-weight: bold;  
  font-size: 1.2rem;  
}

.dislog-width{
  width: 30rem;
}
