.plans-container {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  row-gap: 5rem;
 
}
 
.subscription-container {
  background-color: rgb(222, 223, 223);
  height: 100vh;
  width: 100%;
}
 
.plan-card {
  padding: 20px;
 
  border: 2px solid #ccc;
 
  border-radius: 8px;
 
  cursor: pointer;
 
  background-color: #f5f5f5;
 
  text-align: center;
 
  font-size: 1.2rem;
 
  transition: background-color 0.3s ease;
 
  height: 8rem;
 
  width: 20rem;
}
 
.plan-card:hover {
  background-color: #e0e0e0;
}
 
.plan-name {
  font-size: 1.5rem;
  font-weight: bold;
}
 
.choose {
  display: flex;
  font-weight: bold;
  color: orangered;
  justify-content: center;
  padding: 2rem;
}
 
 
 
@media (max-width: 768px) {
  .plans-container {
    flex-direction: column;
 
    align-items: center;
 
    margin-left: 0;
 
    gap: 20px;
  }
 
  .plan-card {
    width: 90%;
    height: auto;
    padding: 30px;
    font-size: 1rem;
  }
 
  .plan-name {
    font-size: 1.2rem;
  }
 
 
  .home-heading {
    font-size: 2rem;
  }
 
  .mmodal {
    width: 100%;
 
    height: 100%;
 
    position: fixed;
 
    top: 0;
 
    left: 0;
 
    background: rgba(0, 0, 0, 0.6);
 
    display: flex;
 
    align-items: center;
 
    justify-content: center;
  }
 
  .modal-content {
    width: 90%;
 
    padding: 10px;
 
    background: white;
 
    border-radius: 10px;
 
    text-align: center;
  }
 
  .modal-table {
    width: 100%;
 
    font-size: 0.9rem;
  }
 
  .modal-table th {
    padding: 8px;
 
    cursor: pointer;
  }
 
  .close-button {
    margin-top: 20px;
 
    padding: 10px 20px;
 
    font-size: 1rem;
 
    border: none;
 
    background: red;
 
    color: white;
 
    cursor: pointer;
 
    border-radius: 5px;
  }
 
  .close-button:hover {
    background: darkred;
  }
}
 
 
 
.modal-table {
  width: 90%;
  font-size: 1.2rem;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}
 
.modal-table th {
  padding: 12px;
  cursor: pointer;
 background: #ddd;
  transition: 0.3s;
}
 
.modal-table th:hover {
  background: #bbb;
}
 
.close-button {
  margin-top: 2px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
 
.close-button:hover {
  background: darkred;
}
 
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.modal-content {
  width: 90rem;
  height: 30rem;
  background-color: azure;
 
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
 
 
.plan-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
 
.plan-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background-color: rgb(240, 215, 138);
  padding: 15px;
  border-radius: 10px;
}
 
.plan-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: orangered;
}
 
.meal-card {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}
 
.meal-card:hover {
  background-color: rgb(96, 25, 25);
  color: white;
}
 
.close-button {
  margin-top: 20px;
  padding: 1px 6px;
  font-size: 1.2rem;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
 
.close-button:hover {
  background: darkred;
}
 
 
 
 