
.vm-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}

.vision-back {
  background-color: aliceblue;
  padding: 1.5rem;
  flex: 1;
  border-radius: 8px;
}

.vision-head{
  font-size: 1.5rem;
  color: rgb(39, 62, 62);
}

.text-center{
  display: flex;
  justify-content: center;
  background-color: rgb(73, 26, 26);
  width: fit-content;
  color: white;
  box-sizing: 15rem;
  border-radius: 5px;
  padding: 0.3rem;
  margin-left: 35rem;
}

@media (max-width: 768px) {
  .vm-box {
      flex-direction: column-reverse; 
      align-items: center;
      gap: 1rem;
      padding: 1rem;
  }

  .vision-back {
      width: 100%;
      text-align: center;
  }

  .vision-head {
      font-size: 1.5rem;
  }
}
