.vision-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
  height: 100vh;
  /* background-color: #555; */
}

.vision-header h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}

.vm-box {
  display: flex;
  justify-content: space-between;
  width: 98%;
  gap: 2rem;
  margin-bottom: 3rem;
}

.vm-box b {
  color: #0e5398;
  text-decoration: underline;
  font-size: 1.3rem;
}

.vision-left {
  flex: 0 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vision-right {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-box {
  background-color: #0066cc; 
  background-image: url(../../../assets/mi.jpg);
  width: 92%; 
  height: 200px;
  border-radius: 8px;
  background-size: cover;
  object-fit: contain;
}

.blue-box {
  background-color: #0066cc; 
  background-image: url('https://www.slideegg.com/image/catalog/10904-mission-vision-powerpoint-template.png');
  background-size: cover; 
  background-position: center; 
  width: 93%;
  height: 220px;
  border-radius: 8px;
}


.vm-box .vision-left-content,
.vm-box .mission-right-content {
  flex: 1;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 2.5rem;
}

.vision-head {
  font-size: 2.2rem;
  font-weight: bold;
  color: #333;
  margin-right: 3rem;
}

.vision-left-content p,
.mission-right-content p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .vision-container {
    padding: 2rem 1rem;
  }

  .vm-box {
    flex-direction: column;
    align-items: center;
  }

  .vision-left,
  .vision-right {
    flex: 1 1 100%;
    justify-content: flex-start;
  }

  .blue-box {
    height: 150px;
  }

  .vision-head {
    font-size: 1.4rem;
  }

  .vision-left-content p,
  .mission-right-content p {
    font-size: 0.95rem;
  }
}
