
.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 1rem;
  }
  
  .menu-add {
    padding: 1rem;
  }
  
  .menu-add button {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: rgb(45, 70, 196);
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 15rem;
  }
  
  .menu-pic {
    height: 20rem;
    width: 20rem;
    background-color: rgb(233, 223, 223);
  }
  
  .menu-add-new input {
    width: 27rem;
  }
  
  .admin-ground {
    display: flex;
    background-color: rgb(229, 237, 237);
    padding: 2rem;
    width: 40rem;
    justify-content: center;
    border-radius: 8px;
    margin-left: 27rem;
  }
  
  .item-save button {
    height: 2rem;
    width: 5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(27, 50, 167);
    color: white;
    border: none;
    margin-left: 11rem;
  }
  
  
  @media (max-width: 768px) {
    .title {
      font-size: 1.3rem;
      padding: 0.8rem;
    }
  
    .menu-add button {
      font-size: 1rem;
      padding: 0.4rem;
      margin-left: 0;
      width: fit-content;
      margin-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .menu-pic {
      height: 15rem;
      width: 15rem;
      margin: 0 auto;
    }
  
    .menu-add-new input {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
    }
  
    .admin-ground {
      width: 90%;
      margin-left: 20px;
      flex-direction: column;
      padding: 1.5rem;
      justify-content: center;
      align-items: center; 
    }
  
    .item-save button {
      font-size: 1rem;
      width: fit-content;
      margin-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin: 0 auto; 
      display: block;  
    }
  }
  