.days button{
    padding: 0.2rem;
   
}


.dayss{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.6rem;
   
  }
  
  .dayss div{
    background-color: rgb(113, 151, 198);
    color: aliceblue;
    padding: 1rem;
    border-radius: 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .plans-vary h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.6rem;
  }



  
.listt{
  color: #3d39ba;
}
