 
.choose-plan {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.comboo, .combo, .combooo {
  height: 10rem;
  width: 20rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  border-radius: 8px;
  background-color: rgb(229, 237, 237);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.combo {
  background-color: rgb(175, 134, 121);
  background-color: rgb(235, 117, 49);
}

.combooo {
  background-color: rgb(223, 186, 74);
}

.back {
  background-image: url(../../../assets/backk.png);
  background-color: white;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.choose-plan button {
  margin-top: 1rem;
  height: 1.8rem;
  width: 4rem;
  border-radius: 3px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  background-color: rgb(107, 56, 89);
}

.heading {
  font-size: 2.5rem;
  position: absolute;
  margin-bottom: 25rem;
  font-family: cursive;
  color: rgb(56, 38, 199);
}

.sub {
  font-size: 2rem;
  position: absolute;
  margin-top: 25rem;
  font-family: cursive;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  max-width: 1000px;
  height: 40%;
}

.close-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 3px;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  font-size: 0.8rem;
  margin-left: 61rem;
}


.styled--table {
  width: 90%;
  border-collapse: collapse;
  margin: 20px auto;
  border-radius: 5px;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.styled--table th {
  padding: 15px;
  background-color: rgb(238, 116, 71);
  color: #fff;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 1.4rem;
}

.styled--table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  font-weight: bold;
}

.styled--table tr:hover {
  background-color: #f5f5f5;
}

.styled--table button {
  padding: 7px 16px;
  background-color: rgb(107, 56, 89);
  font-size: 1.1rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.styled--table button:hover {
  background-color: #3d39ba;
}



@media screen and (max-width: 768px) {
  .choose-plan {
      flex-direction: column;
      gap: 1.5rem;
      margin-left: 0;
      align-items: center;
  }

  .comboo, .combo, .combooo {
      width: 80%;
      height: auto;
      padding-top: 1.5rem;
      font-size: 1.2rem;
  }

  .heading {
      font-size: 2rem;
      margin-bottom: 15rem;
      text-align: center;
      width: 80%;
  }

  .sub {
      font-size: 1.5rem;
      margin-top: 15rem;
      text-align: center;
  }

  .modal-content {
      width: 90%;
      height: auto;
  }

  .close-btn {
      font-size: 1rem;
      margin-left: auto;
      /* margin-top: 1rem; */



  }

  .styled--table {
      width: 100%;
      margin-top: 2rem;
    
  }

  .styled--table th {
      font-size: 1.2rem;
  }

  .styled--table td {
      font-size: 1rem;
  }

  .styled--table button {
      font-size: 1rem;
  }

  .choose-plan button {
      font-size: 1rem;
      width: 100%;
  }
}
