
.pop {
    position: fixed;         
    top: 50%;                 
    left: 50%;                
    transform: translate(-50%, -50%); 
    background-color: rgb(50, 51, 52);
    background-color: #011201;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    justify-content: center;
   
}

.login {
   
    color: orangered;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

label {
    color: white;
    margin-bottom: 0.5rem;
    display: block;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    display: flex;
  
    
}



.submit-btn {  
    padding: 0.75rem;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.5rem;
    text-align: center;
    width: 5rem;  
    height: 2rem; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: orangered;
    margin-left: 7.5rem;
      
}

.submit-btn:hover {
    background-color: rgb(215, 61, 5) ;
    color: black;
}


.close-btn {
    position: absolute; 
    top: 1.5rem;        
    right: 1rem;      
    background: none;   
    border: none;     
    color: white;       
    font-size: 1rem;     
    cursor: pointer;
}

.close-btn:hover {
    color: #ff700b;     
}



.backgroundd {
    background-image: url(../../../assets/Wh.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media  screen and (max-width: 480px){

    .close-btn {
        position: absolute; 
        top: 1.5rem;        
        left: 20rem;      
        background: none;   
        border: none;     
        color: white;       
        font-size: 1rem;     
        cursor: pointer;
    }

}
