.profile-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.form-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
  }

.form-edit-save {
    display: flex;
    gap: 32rem;
}

.form-edit-save button{
    height: 2rem;
    width: 5rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: rgb(184, 184, 206);
    cursor: pointer;
    margin-top: 0.8rem;
}

.form-edit-save :hover{
    background-color: rgb(50, 96, 202);
    color: white;
}




@media only screen and (max-width: 480px) {
    .form-edit-save {
        display: flex;
        gap: 13rem;       
        
    }

}