
.footer a:hover {
  color: orangered;

}

.footer{
  background-color: rgb(77, 38, 63);
  margin-left: 0rem;
  padding: 14px;
  color: white;
  margin-top: 5.7rem;

}

.footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap; 
}

.footer a {
  text-decoration: none;
  color: rgb(22, 21, 21);
  color: white;
}


@media (max-width:768px) {
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .footer div{
    display:inline;
  }
  
}