
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(77, 38, 63);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: white;
  z-index: 1000;
  text-decoration: none;
  margin-left: 0rem;
 
  
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit; 
  font-size: 12px;
  cursor: pointer;
  font-size: 17px;
}

.footer a {
  color: inherit; 
  
}

.footer div:hover {
  color: rgb(225, 222, 222);
  
}





@media (max-width:768px) {
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    gap: 20px;
  }
  .footer div{
    display:inline;
  }
  
}










