
/* .foodcard-column{
    display: flex;
    flex-direction: row;
    gap: 3rem;


} */



.foodcard-column {
    display: flex;
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center cards horizontally */
    gap: 2px; /* Add spacing between cards */
    padding: 1px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .foodcard-column {
      padding: 10px; /* Ensure proper spacing on smaller screens */
      width: 100%;
      display: flex;
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center cards horizontally */
      gap: 20px; /* Add spacing between cards */
      padding: 10px;
    }
  }
  