
.sub-status{
    display: flex;
    /* flex-direction: column; */
    margin-left: 10rem;
    gap: 2rem;

}

@media screen and (max-width: 768px) {

    .sub-status{
        display: flex;
        flex-direction: column;
        
    }


}